html {
    position: relative;
    min-height: 100%;
    font-size: 0px;
}

body {
    margin-bottom: 200px;
    background-color: #f9f9f9;
    color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #FF66FF;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

    header .nav-left {
        font-size: 30px;
        font-weight: bold;
    }

    header .nav-right button, header .nav-right a {
        background-color: #fff;
        color: #000099;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 20px;
        text-decoration: none;
    }

footer {
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    background-color: #333;
    color: #fff;
    margin-top: 10px;
}

    footer a {
        color: #FF66FF;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }

.nav-left {
    cursor: pointer;
}

#users::first-letter {
    text-transform: uppercase; 
}

#users {
    font-size: 20px; 
    background: linear-gradient(to right, #FF6699,#FF6699, #FFFF33); 
    text-decoration: underline;
    -webkit-background-clip: text; 
    color: transparent; 
    margin-bottom: 5px;
}
