@font-face {
    font-family: 'testfont'; /* µÑé§ª×èÍ¿Í¹µì·Õè¤Ø³µéÍ§¡ÒÃãªé */
    src: url('../font/SpenbebGame-R9q46.otf') format('woff2'), /* àÊé¹·Ò§ä»ÂÑ§ä¿Åì¿Í¹µì */
    font-weight: normal; /* ¹éÓË¹Ñ¡¢Í§¿Í¹µì */
    font-style: normal; /* ÊäµÅì¢Í§¿Í¹µì */
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    flex: 1;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 14px;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


header {
    background-color: #FF66FF;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: relative;
    z-index: 1;
}

    header .nav-left {
        font-size: 24px;
        font-weight: bold;
    }

    header .nav-right button, header .nav-right a {
        background-color: #fff;
        color: #000099;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 20px;
        text-decoration: none;
    }

footer {
    text-align: center;
    padding: 30px;
    margin-top: 70px;
    background-color: gray;
    margin-top: 10px;
}

    footer a {
        color: white;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }
.nav-left {
    cursor: pointer;
}

#users::first-letter {
    text-transform: uppercase;
}

#users {
    font-size: 20px;
    background: linear-gradient(to right, #FF6699, #FF6699, #FFFF33);
    text-decoration: underline;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    overflow: visible;
   
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

    .dropdown-content a {
        color: #FF66FF !important;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 0 !important;
        font-family: 'testfont', sans-serif;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
            color: #FF66FF !important;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background: linear-gradient(to right, #FF6699, #FF6699, #f89b28);
}

.dropbtn {
    background-color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    position: relative;
    font-family: 'testfont', sans-serif;
}

    .dropbtn span {
        background: linear-gradient(to right, #FF6699, #FF6699, #f89b28);
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
        font-size: 20px;
        transition: color 1s;
    }



.dropdown:hover .dropbtn span {
    color: white;
}

