* {
    box-sizing: border-box;
}

.main-container {
    text-align: center;
}

.search-section {
    background: linear-gradient(to bottom, #FF66FF, #FF66CC, #FF6699);
    padding: 30px;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    height: 220px;
}

.search-section h2 {
        font-size: 28px;
        margin-bottom: 20px;
 }

.search-bar {
    padding: 10px;
    width: 1000px;
    border: none;
    border-radius: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0 20px;
}


.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
/*    flex-direction: row;
    align-items: center;
    justify-content: flex-start;*/
    width: 400px;
    height: 180px;
    margin: 20px;
}

.card-logo {
    width: 90px; 
    height: 90px; 
    margin-right: 15px;
    margin-bottom: 50px;
    margin-top: 5px;
    border-radius: 50%; /* ทำให้ขอบรูปเป็นวงกลม */
    object-fit: cover; /* ป้องกันไม่ให้ภาพยืดหรือบีบอัด */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


.card-content {
    text-align: left;
    flex: 1;
    margin-bottom: 30px;
    margin-left:20px;
    margin-top: 5px;
}

.card-content p {
    margin: 2px 0;
    font-size: 17px;
    color: #333;
}
#user::first-letter {
    text-transform: uppercase; /* ทำให้ตัวอักษรแรกเป็นตัวพิมพ์ใหญ่ */
}
#user {
    font-size: 20px; /* ขนาดตัวอักษรที่ต้องการ */
    background: linear-gradient(to right, #FF6699, #FFFF33); /* ไล่สี */
    font-family: 'Impact', sans-serif;
    text-decoration: underline;
    -webkit-background-clip: text; /* ตัดพื้นหลังให้ไปที่ตัวอักษร */
    color: transparent; /* ทำให้สีพื้นหลังโปร่งใส */
    margin-bottom: 5px;
}



.card-button {
    background-color: #333;
    color: white;
    border: none;
    margin-top: 130px;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    height: 30px;
}

.card-button:hover {
    background-color: #555;
}

.popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-form {
    background-color: rgb(252, 247, 247);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.popup-form h3 {
    margin-bottom: 10px;
    text-align: center;
}

.popup-form label {
    margin: 10px 0 5px;
    display: block;
}

.popup-form input,
.popup-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #b51313;
    border-radius: 0;
}

.popup-form button {
    width: 100%;
    padding: 10px;
    background-color: #a00a0a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-form button:hover {
    background-color: #555;
}

.close-popup {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #333;
}

.close-popup:hover {
    text-decoration: underline;
}

.refresh-btn {
    position: absolute;
    top: 248px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff; /* สีพื้นหลังปุ่ม */
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    height: 65px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1s; /* เพิ่มการเปลี่ยนแปลงสีพื้นหลัง */
}

.refresh-btn span {
    font-size: 25px; /* ขนาดตัวอักษรที่ต้องการ */
    background: linear-gradient(to right, #FF6699, #f89b28); /* ไล่สี */
    font-family: 'Impact', sans-serif;
    text-decoration: underline;
    -webkit-background-clip: text; /* ตัดพื้นหลังให้ไปที่ตัวอักษร */
    color: transparent; /* ทำให้สีพื้นหลังโปร่งใส */
    margin-bottom: 5px;
    transition: color 1s; /* เพิ่มการเปลี่ยนแปลงสี */
}

.refresh-btn:hover {
    background: linear-gradient(to right, #FF6699, #f89b28); /* ไล่สีเมื่อ hover */
    transform: translateX(-50%) scale(1.05);
}

.refresh-btn:hover span {
    color: white; /* เปลี่ยนสีข้อความเป็นขาวเมื่อ hover */
}

.popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}


.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: #fafafa; /* ÊÕÊéÁ */
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.floating-button img {
    width: 50px;
    height: 50px;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    border: 2px solid #f3a74a;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 400px;
    background-color: #fff;
    z-index: 1000;
}

.chat-popup-header {
    background-color: #fffdfb;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    color: white;
    text-align: center;
}

.chat-popup-body {
    padding: 10px;
    height: 320px;
    overflow-y: auto;
}

.chat-popup-footer {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-popup-footer input {
    width: 80%;
    padding: 5px;
}

.chat-popup-footer button {
    width: 15%;
    padding: 5px;
    background-color: #ffffff;
    border: 1px;
    color: white;
    cursor: pointer;
}

