
@model IEnumerable<WebApp_Mini_Project.Models.Post>

<head>
    <style>
        * {
            box-sizing: border-box;
        }

        .main-container {
            text-align: center;
        }

        .search-section {
            background: linear-gradient(to bottom, #FF66FF, #FF66CC, #FF6699);
            padding: 30px;
            color: #fff;
            margin-bottom: 30px;
            text-align: center;
            height: 220px;
        }

            .search-section h2 {
                font-size: 28px;
                margin-bottom: 20px;
            }

        .search-bar {
            padding: 10px;
            width: 1000px;
            border: none;
            border-radius: 20px;
        }

        .refresh-btn {
            position: absolute;
            top: 248px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            color: #000099;
            border: none;
            padding: 10px;
            cursor: pointer;
            width: 200px;
            height: 65px;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .refresh-btn:hover {
                background-color: #f60000;
                color: #fff;
                transform: translateX(-50%) scale(1.05);
            }

        .card-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px;
            padding: 0 20px;
        }

        .card {
            background-color: white;
            border-radius: 10px;
            box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.1);
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 400px;
            height: 180px;
            margin: 20px;
        }

        .card-logo {
            width: 150px;
            height: 100px;
            margin-right: 15px;
            margin-bottom: 50px;
        }

        .card-content {
            text-align: left;
            flex: 1;
            margin-bottom: 30px;
            margin-top: 20px;
        }

            .card-content p {
                margin: 2px 0;
                font-size: 14px;
                color: #333;
            }

        .card-button {
            background-color: #333;
            color: white;
            border: none;
            margin-top: 100px;
            padding: 10px 10px;
            border-radius: 5px;
            cursor: pointer;
        }

            .card-button:hover {
                background-color: #555;
            }

        .popup-background {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 200%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }

        .popup-form {
            background-color: rgb(252, 247, 247);
            padding: 20px;
            border-radius: 10px;
            width: 400px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            text-align: left;
        }

            .popup-form h3 {
                margin-bottom: 10px;
                text-align: center;
            }

            .popup-form label {
                margin: 10px 0 5px;
                display: block;
            }

            .popup-form input,
            .popup-form select {
                width: 100%;
                padding: 8px;
                margin-bottom: 10px;
                border: none;
                border-bottom: 1px solid #b51313;
                border-radius: 0;
            }

            .popup-form button {
                width: 100%;
                padding: 10px;
                background-color: #a00a0a;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

                .popup-form button:hover {
                    background-color: #555;
                }

        .close-popup {
            text-align: center;
            margin-top: 10px;
            cursor: pointer;
            color: #333;
        }

            .close-popup:hover {
                text-decoration: underline;
            }

        .refresh-btn {
            position: absolute;
            top: 248px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            color: #000099;
            border: none;
            padding: 10px;
            cursor: pointer;
            width: 200px;
            height: 65px;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 5;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .popup-background {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 10;
        }

        .status {
            margin-top: 45px;
        }



        .floating-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 70px;
            height: 70px;
            background-color: #fafafa; /* สีส้ม */
            border-radius: 50%;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }


            .floating-button img {
                width: 50px;
                height: 50px;
            }

        .chat-popup {
            display: none;
            position: fixed;
            bottom: 80px;
            right: 20px;
            border: 2px solid #f3a74a;
            border-radius: 10px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
            width: 300px;
            height: 400px;
            background-color: #fff;
            z-index: 1000;
        }

        .chat-popup-header {
            background-color: #fffdfb;
            padding: 20px;
            border-radius: 10px 10px 0 0;
            color: white;
            text-align: center;
        }

        .chat-popup-body {
            padding: 10px;
            height: 320px;
            overflow-y: auto;
        }

        .chat-popup-footer {
            padding: 10px;
            border-top: 1px solid #ddd;
        }

            .chat-popup-footer input {
                width: 80%;
                padding: 5px;
            }

            .chat-popup-footer button {
                width: 15%;
                padding: 5px;
                background-color: #ffffff;
                border: 1px;
                color: white;
                cursor: pointer;
            }
    </style>
</head>


    <main class="main-container">
        <section class="search-section">
            <h2>หาเพื่อนเล่นเกมส์ดีที่สุดในประเทศไทย</h2>
            <input type="text" placeholder="พิมพ์เพื่อค้นหา..." class="search-bar">
        </section>

        

        <!-- Popup Form -->
        <div class="popup-background" id="popup">
            <div class="popup-form">
                <h3>กรอกข้อมูลห้อง</h3>
                <form>
                    <label for="roomName">ชื่อห้อง:</label>
                    <input type="text" id="roomName" name="roomName">


                    <label for="game">เกม:</label>
                    <select id="game" name="game">
                        <option value="ROV">ROV</option>
                        <option value="PUBG">PUBG</option>
                        <option value="Dota 2">Dota 2</option>
                    </select>

                    <label for="details">รายละเอียด:</label>
                    <input type="text" id="details" name="details" placeholder="กรุณาใส่ชื่อห้อง">

                    <label for="members">จำนวนสมาชิก:</label>
                    <select id="members" name="members">
                        <option value="2">2 คน</option>
                        <option value="3">3 คน</option>
                        <option value="4">4 คน</option>
                        <option value="5">5 คน</option>
                    </select>

                    <label for="duration">ระยะเวลา:</label>
                    <select id="duration" name="duration">
                        <option value="1">1 ชั่วโมง</option>
                        <option value="2">2 ชั่วโมง</option>
                        <option value="3">3 ชั่วโมง</option>
                    </select>

                    <button type="submit">ยืนยัน</button>
                </form>
                <div class="close-popup" id="closePopup">ปิด</div>
            </div>
        </div>

        

        <button class="refresh-btn" id="openPopupBtn">Posts</button>

        <div class="card-container" id="card-container">
            @for (int i = 0; i < Model.Count(); i++)
            {
                var post = Model.ElementAt(i);
            <div class="card-container" id="card-container">
                <div class="card">
                    <img src="https://w0.peakpx.com/wallpaper/16/995/HD-wallpaper-valorant-logo.jpg" alt="logo" class="card-logo">
                    <div class="card-content">
                        <p>เลขห้อง: @post.id_room</p>
                        <p>รายละเอียด: @post.details</p>
                        <p>เกม: @post.game_name</p>
                        <div class="status">
                            <span>1 ชม. ที่แล้ว</span>
                            <span>0/@post.person_count</span>
                        </div>
                    </div>
                    <button class="card-button">เข้าร่วม</button>
                </div>
            </div>

            }
        </div>
        <div class="floating-button" onclick="toggleChatPopup()">
            <img src="https://png.pngtree.com/png-clipart/20190617/original/pngtree-chat-vector-icon-png-image_3876224.jpg" alt="icon">
        </div>

        <div class="chat-popup" id="chatPopup">
            <div class="chat-popup-header">
                แชทแจ้งเตือน
            </div>
            <div class="chat-popup-body" id="chatBody">
                @* ข้อความแชท  *@
            </div>
        </div>
    </main>


<script>
    const popupBtn = document.getElementById('openPopupBtn');
    const popup = document.getElementById('popup');
    const closePopup = document.getElementById('closePopup');

    popupBtn.addEventListener('click', function () {
        popup.style.display = 'flex';
    });

    closePopup.addEventListener('click', function () {
        popup.style.display = 'none';
    });



            // ฟังก์ชันเปิด/ปิด popup
    function toggleChatPopup() {
        var chatPopup = document.getElementById("chatPopup");
        if (chatPopup.style.display === "none" || chatPopup.style.display === "") {
            chatPopup.style.display = "block";
        } else {
            chatPopup.style.display = "none";
        }
    }

    function sendMessage() {
        var chatBody = document.getElementById("chatBody");
        var chatMessage = document.getElementById("chatMessage");

        if (chatMessage.value !== "") {
            var newMessage = document.createElement("div");
            newMessage.textContent = chatMessage.value;
            chatBody.appendChild(newMessage);

            chatMessage.value = ""; // ล้างข้อความใน input หลังจากส่งข้อความ
        }
    }

</script>






