@{
    ViewBag.Title = "Login";
}
@model Account
<h2>Login</h2>
//test
<form method="POST" asp-controller="Account" asp-action="Login">
    <div>
        <label asp-for="Username">Username:</label>
        <input type="text" asp-for="Username" name="username" required />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password">Password:</label>
        <input type="password" asp-for="Password" name="password" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit">Login</button>

    <!-- แสดงข้อผิดพลาดทั้งหมด -->
    <div asp-validation-summary="All" class="text-danger"></div>
</form>

<!-- แสดงข้อผิดพลาดที่เฉพาะเจาะจงสำหรับฟิลด์ -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

