﻿@{
    Layout = null;
}
@model Account

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="~/css/style_Register.css">
</head>
<body>



    <div class="register-container">
           @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
           @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
           @Html.ValidationMessageFor(model => model.ReplyPassword, "", new { @class = "text-danger" })
           @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        <h1>Register</h1>
        <form method="POST" action="/Account/Register" enctype="multipart/form-data">
        <!-- Profile image with onClick to trigger file input -->
        <img src="https://cdn-icons-png.flaticon.com/512/10141/10141012.png" alt="Profile Picture" class="profile-pic" id="profileImage" onclick="document.getElementById('file-input').click();">

        <!-- Hidden file input for image upload -->
            <input type="file" id="file-input" name="ProfilePicture" accept="image/*" onchange="previewImage(event)">
            
        
            <div class="form-group">
                <input type="text" id="username" asp-for="Username" name="Username" minlength="5" maxlength="30" placeholder="Username" required>
                
            </div>
            <div class="form-group">
                <input type="password" id="password" asp-for="Password" name="Password" minlength="10" maxlength="20" placeholder="Password" required>
                
            </div>
            <div class="form-group">
                <input type="password" id="replyPassword" asp-for="ReplyPassword" name="ReplyPassword" placeholder="Reply password" required>
                
            </div>
            <div class="form-group">
                <input type="email" id="email" asp-for="Email" name="Email" minlength="15" maxlength="50" placeholder="Email" required>
                
            </div>
            <button type="submit">Register</button>
            <button type="button" onclick="window.location.href='/Account/Login';">Cancel</button>
            <a href="/Account/Login" class="login-link">Already have an account? Login</a>
        </form>
    </div>
    <script>
        // JavaScript function to preview the selected image
        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function () {
                const profileImage = document.getElementById('profileImage');
                profileImage.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>

        

</body>

</html>
