

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp_Mini_Project</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp_Mini_Project.styles.css" asp-append-version="true" />
    
</head>
<body>
    <header>
        <div class="nav-left" onclick="window.location.href='/Post/Index'">เพื่อไทย</div>
        
        <div class="nav-right">
            @if (ViewBag.Usersession != null)
            {
                <div class="dropdown">
                    <button class="dropbtn"><span>@ViewBag.Usersession</span></button>
                    <div class="dropdown-content">
                        <a href="/Account/Profile"><span>Profile</span></a>
                        <a href="/Account/Logout"><span>Logout</span></a>
                    </div>
                </div>

            }
            else
            {
                <button><a href="/Account/Login" id="users">Login</a></button>
            }
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebApp_Mini_Project -
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
